*venv*/
*:Zone.Identifier
*_outputs/
*__pycache__/
*grid_export*.*
*.log
*compare_parameters*
*examples*
omc-build/
src/julia_openmodelica/StabilityAnalysis/outputs/
/src/python_pypowsybl/Notebooks/dynawo
.ipynb_checkpoints/
